# firmware/*
firmware/**/bin
firmware/**/obj
firmware/**/makefile
firmware/**/Makefile

# !firmware/lib
# !firmware/examples
# !firmware/Starter

tools/gcc-arm-none-eabi-*
tools/stsw-link007
tools/en.stm32cubeprog

**/.gdb_history
**/.DS_Store
**/flash.txt
**/env.sh
**/Env.sh

.idea/
firmware/**/test